### Importando bibliotecas
* Importando pandas e numpy que já foram utilizados anteriormente;
* Importando a função `ceil` da biblioteca `math` para calcular o teto de um valor real;

In [0]:
import numpy as np
import pandas as pd
from math import ceil

### Calculando o valor de `k` com base na população e amostra

In [0]:
populacao = 150
amostra = 15
k = populacao/amostra
print('K antes do arredondamento: {}'.format(k))
k = ceil(k)
print('K após do arredondamento: {}'.format(k))

K antes do arredondamento: 10.0
K após do arredondamento: 10

### Gerando um valor aleatório entre 1 e `k`

In [0]:
r = np.random.randint(low=1, high=k+1, size=1)
print(r)

[7]

### Criando um array de sorteados
O array de valores sorteados para cada posição i da amostra entre (0 e n) receberá um valor de k somado i vezes.

In [0]:
acumulador = r[0]

sorteados = []

for i in range(amostra):
    sorteados.append(acumulador)
    acumulador += k
    
sorteados

[7, 17, 27, 37, 47, 57, 67, 77, 87, 97, 107, 117, 127, 137, 147]

### Criando a amostra a partir de um dataframe
Retira da população a amostra utilizando o `.loc` do dataframe e passando como indices os sorteados para fazerem parte da amostra.

In [0]:
df = pd.read_csv('https://raw.githubusercontent.com/jose-gilberto/data-science/master/datasets/iris.csv')
df_amostra = df.loc[sorteados]
df_amostra.head()

    sepal_length  sepal_width  petal_length  petal_width species
7            5.0          3.4           1.5          0.2  setosa
17           5.1          3.5           1.4          0.3  setosa
27           5.2          3.5           1.5          0.2  setosa
37           4.9          3.1           1.5          0.1  setosa
47           4.6          3.2           1.4          0.2  setosa