### Importando bibliotecas
* Importamos o Pandas como no exemplo anterior, porém neste caso também importamos uma função da biblioteca sklearn, utilizada para aprendizado de máquina posteriormente. Neste caso importamos somente a função `train_test_split` utilizada para separar os estratos da amostra.

In [0]:
import pandas as pd
from sklearn.model_selection import train_test_split

### Lendo as informações com o Pandas
Da mesma forma que foi realizada no exemplo anterior, lemos as informações de um arquivo `.csv` e jogamos o dataframe na variável `df`.

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/jose-gilberto/data-science/master/datasets/iris.csv?token=AHYUBH2YXGHAJCD6EOZZQNS5U7QIE')
df.head() # Exibindo as 5 preimeiro linhas do Dataframe

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

### Exibindo a contagem de valores de cada espécie
Utilizando a função `value_counts()` é possível saber quantos individuos de cada espécie existem no dataframe, além de saber as espécies existentes nele.

In [3]:
df['species'].value_counts()

versicolor    50
virginica     50
setosa        50
Name: species, dtype: int64

* A variável `x` recebe os indices e os valores do dataframe das colunas 0 à 3 (respectivamente 'sepal_length', 'sepal_width', 'petal_length', 'petal_width');
* A variável `y` recebe os indices e os valores da 'specie' de cada individuo;
* O primeiro parâmetro da função são as colunas que irão para a variável x;
* O segundo parâmetro são as colunas que irão compor a variável y;
* O parâmetro test_size define o tamanho da amostra que será retirada da população;
* O parâmetro stratify irá definir qual coluna será utilizada para composição dos estratos (em qual característica os estratos serão separados)

In [0]:
x, _, y, _ = train_test_split(df.iloc[:, 0:4], df.iloc[:, 4], test_size=.5, stratify=df.iloc[:, 4])

In [5]:
x.head()

     sepal_length  sepal_width  petal_length  petal_width
67            5.8          2.7           4.1          1.0
51            6.4          3.2           4.5          1.5
101           5.8          2.7           5.1          1.9
100           6.3          3.3           6.0          2.5
60            5.0          2.0           3.5          1.0

In [6]:
y.value_counts()

versicolor    25
virginica     25
setosa        25
Name: species, dtype: int64

In [7]:
print('Tamanho da amostra em y: {}'.format(len(y)))
print('Tamanho da amostra em x: {}'.format(len(x)))

Tamanho da amostra em y: 75
Tamanho da amostra em x: 75